<div class="row">
  <
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <div class="card-custom row">

      <div class="col-12">
        <div style="display:flex;" class="">
          <button routerLink="Login" class="m-auto btn bg-custom">Login</button>
          <button routerLink="Chat" class="m-auto btn bg-custom">Register</button>
          <button routerLink="MyChats" class="m-auto btn bg-custom">MyChats</button>
          <button routerLink="CreateChat" class="m-auto btn bg-custom">CreateChat</button>
        </div>
      </div>

      <div class="col-12">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-4"></div>

</div>


