<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <div class="card-custom row">
      <div style="height:50px;" class="text-white text-center col row m-0 p-0 w-100">
        <img src="http://cdn.onlinewebfonts.com/svg/img_216336.png" class="w-25 m-auto" [routerLink]=[routesPath.UserAccount]/>

        <div class="col-12 mt-4">
          <div style="display:flex;" class="">
            <button [routerLink]=[routesPath.Login] class=" m-auto btn bg-custom text-dark" mat-button>Login</button>
            <button [routerLink]=[routesPath.Register]  class="m-auto btn bg-custom text-dark" mat-button>Register</button>
            <button [routerLink]=[routesPath.MyChats]  class="m-auto btn bg-custom text-dark" mat-button>MyChats</button>
            <button [routerLink]=[routesPath.CreateChat]  class="m-auto btn bg-custom text-dark" mat-button>CreateChat</button>
          </div>
        </div>

      </div>
      
      <div class="col-12">
        <div>

          <div>
            <router-outlet #outlet></router-outlet>
          </div>

          <!--<app-g2048></app-g2048>-->

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>

</div>


