<div class="row">
  <div class="col-3 bg-info "></div>

  <div class="col-6 bg-dark text-white">
    <h3 class="text-center">Messages</h3>

    <div *ngFor="let message of this.chatHubService.MessagesHistory">
      <div class="bg-warning" *ngIf="message.isFromBot;else user">{{message.title}}</div>

      <ng-template #user><div class="bg-danger">{{message.title}}</div></ng-template>

    </div>
    <div>
      <form #form="ngForm" (ngSubmit)="send()" class="form-group">
        <div class="row">
          <div class="col-10">
            <input [(ngModel)]="msgText" name="msgText" class="form-control" />
          </div>
          <div class="col-2">
            <button class="btn bg-warning">send</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-3 bg-info"></div>
</div>
