<!--<div class="row">
  <div class="col-3 bg-info "></div>

  <div class="col-6 bg-dark text-white">-->
    <!--<button class="w-100 bg-info btn mt-5" (click)="LoadOld()">load old</button>-->
<button class=" m-auto mt-5 w-100 btn bg-custom text-dark" color="primary" mat-flat-button (click)="LoadOld()" type="submit">loadOld</button>
    <div class="text-white">
      <div id="chatdiv" (scroll)="onScroll($event)" style="overflow-x:hidden; height:60vh">

        <div *ngFor="let message of this.chatHubService.MessagesHistory;let last =last">

          <div *ngIf="message.isFromBot;else user">
            <div class="card-body row text-right Bot-msg border-rad-80px m-2">
              <div class="col-9">
                <div *ngIf='last && message.text.includes("date");else nodatepicker'>
                  <div class="p-2 justify-content-between align-items-center mb-3" [innerHTML]="message.text">

                  </div>
                  <input [ngModel]="date" type="date" (ngModelChange)="DateChange($event)" />
                  <input type="time" [ngModel]="time" (ngModelChange)="TimeChange($event)" />
                </div>

                <ng-template #nodatepicker>
                  <div class=" p-2 justify-content-between align-items-center mb-3" [innerHTML]="message.text">

                  </div>
                </ng-template>
              </div>
              <div class="col-3">
                <img class="rounded-circle shadow-1-strong me-3" src="https://png.pngtree.com/png-vector/20191023/ourlarge/pngtree-vector-moon-icon-png-image_1852023.jpg" alt="avatar" width="40" height="40">
              </div>
            </div>
          </div>




          <ng-template #user>
            <div>
              <div class="card-body p-2  row text-right User-msg border-rad-80px m-2">
                <div class="col-9">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    {{message.text}}
                  </div>
                </div>
                <div class="col-3">
                  <!--<img class="rounded-circle shadow-1-strong me-3" src="https://png.pngtree.com/png-vector/20191023/ourlarge/pngtree-vector-moon-icon-png-image_1852023.jpg" alt="avatar" width="40" height="40">-->
                </div>
              </div>
            </div>
          </ng-template>

        </div>
      </div>


      <div style="display:flex;">
        <form #form="ngForm" (ngSubmit)="send()" class="form-group">
          <div class="row">
            <div class="col-10">
              <input [(ngModel)]="msgText" name="msgText" class="form-control" />
            </div>
            <div class="col-2">

              <button class=" m-auto btn bg-custom text-dark" color="primary" mat-flat-button type="submit">send</button>
              <!--<button class="btn bg-info">send</button>-->
            </div>
          </div>
        </form>
      </div>

      <!--<input  [matDatepicker]="basicDatepicker" [ngModel]="dateTime">
      <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker></mat-datepicker>-->
    </div>
  <!--</div>

  <div class="col-3 bg-info"></div>
</div>-->

