
<div class="text-white">
  <div class="row">
    <div class="col"><hr class="solid-white"></div>
    <div class="col-auto"><h2>Personal data</h2></div>
    <div class="col"><hr class="solid-white"></div>
  </div>

  <div class="row">
    <div class="col-4"><h4>Email</h4></div>
    <div class="col-8"> <p>{{this.customAccountService.CurentUser.email}}</p></div>
  </div>

  <div class="row">
    <div class="col-4"><h4 i18n>User name:</h4></div>
    <div class="col-8"> <p>{{this.customAccountService.CurentUser.userName}}</p></div>
  </div>

  <div class="row">
    <div class="col-4"><h4 i18n>Phone number:</h4></div>
    <div class="col-8"> <p>{{this.customAccountService.CurentUser.phoneNumber}}</p></div>
  </div>

  <div class="row">
    <div class="col"><hr class="solid-white"></div>
    <div class="col-auto"><h2>Vk data</h2></div>
    <div class="col"><hr class="solid-white"></div>
  </div>

  <div class="row">
    <div class="col-4"><h4>VK Email:</h4></div>
    <div class="col-8"> <p>{{this.customAccountService.CurentUser.vkEmail}}</p></div>
  </div>
  <hr class="text-white" />

  <div class="row">
    <div class="col-4"><h4 i18n>Vk connection</h4></div>
    <div class="col-4"> <p>wee</p></div>
    <div class="col-4"><h4 class="link-primary"><a i18n [routerLink]="[this.routesPath.ConectToVk]" >Conect</a></h4></div>

  </div>
  <hr class="text-white" />

  <div class="row">
    <div class="col-4"><h4 i18n>send reminder to vk:</h4></div>
    <div class="col-4"><input type="checkbox" class="form-check-input" name="sendToVk" [(ngModel)]="this.customAccountService.CurentUser.sendToVk" /></div>
    <div class="col-4">
      <button class=" m-auto mt-2 btn bg-custom text-dark" color="primary" mat-flat-button type="submit" (click)="SaveSendStatus()">save</button>
      <!--<button (click)="SaveSendStatus()">Save</button>-->
    </div>

  </div>
  <!--<button onclick="">save changes</button>-->

</div>




