
<form class="form-group text-center text-white" #loginForm="ngForm" (ngSubmit)="login(loginForm)">

  <h2 i18n>login Page</h2>
  <h4 class="text-warning">{{errorMessage}}</h4>

  <div class="form-group">
    <mat-form-field class="w-100">
      <mat-label class="text-white" i18n>UserName</mat-label>
      <input class="w-100" name="userName" ngModel #userName="ngModel" required matInput placeholder="UserName" i18n>
      <mat-hint *ngIf=" userName.invalid && userName.touched" class="text-danger" i18n>UserName is required</mat-hint>
    </mat-form-field>  
  </div>

  <div class="form-group">
    <mat-form-field class="w-100">
      <mat-label class="text-white" i18n>Password</mat-label>
      <input class="w-100" name="password" ngModel #password="ngModel" required matInput placeholder="Password" i18n>
      <mat-hint *ngIf="password.invalid && password.touched" class="text-danger" i18n>UserName is required</mat-hint>
    </mat-form-field>
  </div>
  <button class=" m-auto mt-2 btn bg-custom text-dark" color="primary" mat-flat-button type="submit" i18n>submit</button>
</form>
